.App .front-page-button {
  font-size: 2.5rem;
  color: aliceblue;
}

.front-page-text {
  color: aliceblue;
  font-family: 'Arial', sans-serif;
  font-size: 4rem;
}
.App {
  background-color: #121212; /* Dark shade of black */
}

.board-box {
  color: white; /* White text color */
}

.keyboard-key {
  color: rgb(54, 52, 52); /* Black text color */
}


.board-box:hover {
  background-color: #4a4a4a; /* Dark gray on hover */
}

.keyboard-key:hover {
  background-color: #4a4a4a; /* Dark gray on hover */
}
